@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// colors
$dark-brown : #986B38;

* {
    font-family: 'Noto Sans';
}

body {
    background-image: linear-gradient(45deg, black 46.35%, $dark-brown 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px
}

/* Rules for using google material icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }