@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// colors

$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;
$button-blue : #408CFF;

.current-room-header {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(90deg, $light-brown 28.79%, $medium-brown 88.97%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    & h1 {
        color: white;
        font-size: 40px;
    }

    // ------------oO00O%-o0O-TOP-STYLES-------Oo0Oo%o--o0O

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;

        &__round-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255,255,255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;

            & button {
                border: none;
                background-color: rgba(255,255,255, 0);
            }
        }

        & .back-button {
            margin-right: 50px;

            &__arrow-button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
            }
            
        }

        & .edit-button {
            width: 50px;
            height: 50px;
            margin-left: auto;
            
            & .btn {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: left;
                padding-left: 0;
            }

            // styles for more options icons on edit button
            &__more-options {
                width: 7.25px;
                height: 7.25px;
                background-color: white;
                border-radius: 50%;
                margin-left: 6.85px;
                
            }
        }

        &__light-button {
            width: 90px;
            height: 50px;
            border-radius: 50px;
            background-image: linear-gradient(90deg, $dark-brown 6.43%, $darker-brown 74.38%);
            display: flex;
            align-items: center;
            justify-content: right;
            margin-left: 50px;

            &__circle {
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 5px;
                border: none;
            }
        }

        &.lights-on {
            /* Styles when lights are on */
            .room-component__information__button {
              justify-content: left;
              transition: justify-content 0.3s;
            }
            .room-component__information__button__circle {
              margin-left: 5px;
            }
          }
          
        &.lights-off {
            /* Styles when lights are off */
            .room-component__information__button {
              justify-content: right;
              transition: justify-content 0.3s;
            }
            .room-component__information__button__circle {
              margin-right: 5px;
            }
          }
    }

    // ------------oO00O%-o0O-BOTTOM-STYLES-------Oo0Oo%o--o0O

    &__bottom {
        width: calc(100% - 100px);
        height: 100px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;

        &__brightness-slider {
            width: 100%;
            height: 15px;
            background-image: linear-gradient(90deg, $dark-brown 6.43%, $darker-brown 74.38%);
            border-radius: 50px;

            display: flex;
            align-items: center;

            &__input {
                width: var(--slider-width, 100%);
                height: 15px;
                background-image: linear-gradient(90deg, #C8BDB0 6.43%, rgba(227, 216, 203, 0.65) 74.38%);
                border-radius: 50px;
                display: flex;
                align-items: center; 
                appearance: none; // removes default styles

                &::-webkit-slider-thumb {
                    width: 25px;
                    height: 25px; 
                    background-color: white;
                    border-radius: 50%;
                    appearance: none; // Remove default appearance for custom styling
                    }
            }
        }
        
    }

}

 // ------------oO00O%-o0O-MID HEADER-------Oo0Oo%o--o0O

.current-room-content {
    width: calc(100% - 50px);
    height: 100%;
    // background-color: green;
    margin-left: auto;
    margin-right: auto;

    &__mid-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    & p {
        color: rgba(255,255,255, 0.6);
        font-size: 20px;

    }

    &__search-bar {
        width: 75%; // in styles it was 1085 px, but keeping it at this for now
        height: 50px;
        background-image: linear-gradient(90deg, #C8BDB0 6.43%, rgba(227, 216, 203, 0.65) 74.38%);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-right:25px;
        margin-left: 25px;

        & span {
            margin-left: 25px;
            margin-right: 25px;
        }

        & input {
            border: none;
            width: 80%;
            height: 50px;
            border-radius: 50px;
            background-color: transparent;
            color: rgba(255,255,255, 1);
            font-size: 20px;
            
            &::placeholder {
                color: rgba(255,255,255, 0.4);
                font-size: 20px;
            }

            &:focus {
                outline: none;
                
            }
        }
    }

    &__new-scene {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        & button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: $button-blue;
        }
    }
}
// ------------oO00O%-o0O-SCENES-------Oo0Oo%o--o0O

    &__scenes {
        display: flex;
        flex-direction: row; /* Stack the child components horizontally */
        overflow-x: auto; /* Enable horizontal scrolling for overflow content */


        &::-webkit-scrollbar {
            width: 25px;
            border-radius: 30px;
            box-shadow: -10px 0 10px -10px inset rgba(0, 0, 0, 0.5), 10px 0 10px -10px inset rgba(0, 0, 0, 0.5);
        }
        
        &::-webkit-scrollbar-thumb {
            height: 45px;
            background-color: white;
            border-radius: 30px;
        }
        
        &::-webkit-scrollbar-track {
            background: rgba(255,255,255, 0.25);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            background-clip: padding-box;
            border-radius: 10px;
          }
    }
}

