@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// colors

$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;
$button-blue : #408CFF;

.edit-menu {
    width: 100%;
    height: 100%;

    &-top {
        background-color: green;
        width: 100%;
        height: 615px;
        display: flex;
        

        &__header {
            width: 100%;
            height: 100px;
            color: white;
            display: flex;
            align-items: center;
            background-color: blue;
            
            & .menu-close-button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
            }

            & .save-button{
                border: none;
                width: 100px;
                height: 50px;
                border-radius: 30px;
            }

        }

    }
}