@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// colors

$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;
$button-blue : #408CFF;

.edit-menu {
    width: 100%;
    height: 100%;

    // ------------oO00O%-o0O-TOP-STYLES-------Oo0Oo%o--o0O

    &-top {
        background-color: green;
        width: 100%;
        height: 615px;
        // position: fixed;
        // bottom: 0;
        transition: height 0.3s;
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(50% 50% at 50% 50%, rgba(248, 179, 99, 0.69) 0%, rgba(199, 129, 48, 0.41) 100% );

    &-top.active {
        background-color: green;
        width: 100%;
        height: 615px;
        // position: fixed;
        // bottom: 0;
        transition: height 0.3s;
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(50% 50% at 50% 50%, rgba(248, 179, 99, 0.69) 0%, rgba(199, 129, 48, 0.41) 100% );
    }
        // ------------oO00O%-o0O-TOP-HEADER-STYLES-------Oo0Oo%o--o0O

        &__header {
            width: 100%;
            height: 100px;
            margin-top: 50px;
            border-radius: 30px 30px 0px 0px;
            color: white;
            display: flex;
            align-items: center;
            background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 201, 138, 0.4) 0%, rgba(241, 210, 175, 0.26) 100% );
            
            & h1 {
                font-size: 36px;
            }

            & .menu-close-button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
                margin-left: 25px;
                margin-right: 50px;
                rotate: 45deg;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255,255,255, 0.25);
            }

            & .save-button{
                border: none;
                width: 100px;
                height: 50px;
                border-radius: 30px;
                margin-left: auto;
                margin-right: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255,255,255, 0.25);

                & h1 {
                    font-size: 24px;
                    font-weight: 400px;
                    color: white;
                }

            }

        }

        // ------------oO00O%-o0O-TOP-MID-STYLES-------Oo0Oo%o--o0O

        &__middle {
            display: flex;
            width: 100%;
            height: 241px;

            &__scene-icon{
                width: 100px;
                height: 100px;
                background-color: $button-blue;
                border-radius: 50%;
                display: block;
                position:absolute;
                margin-top: 25px;
                margin-left: 25px;
            }
            
            & h1 {
                margin-top: auto;
                margin-right: auto;
                margin-left: 25px;
                margin-bottom: 25px;
                color: white;
            }

            &__edit-button {
                width: 50px;
                height: 50px;
                margin-top: auto;
                margin-left: auto;
                margin-right: 25px;
                margin-bottom: 25px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255,255,255, 0.25);
                border: none;
            }
        }

        // ------------oO00O%-o0O-TOP-BOTTOM-STYLES-------Oo0Oo%o--o0O

        &__bottom {
            width: 100%;
            height: 224px;
            background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 201, 138, 0.4) 0%, rgba(241, 210, 175, 0.26) 100% );
            display: flex;


            & h1 {
                color: white;
                font-size: 36px;
                position: absolute;
            }

            & p {
                color: rgba(255,255,255, 0.6);
                margin-left: auto;
            }

            &__brightness-slider {
                width: 100%;
                height: 15px;
                background-image: linear-gradient(90deg, $dark-brown 6.43%, $darker-brown 74.38%);
                border-radius: 50px;
                display: flex;
                align-items: center;
                margin-top: auto;
                // position: absolute;

                &__input {
                    width: var(--slider-width, 100%);
                    height: 15px;
                    background-image: linear-gradient(90deg, #C8BDB0 6.43%, rgba(227, 216, 203, 0.65) 74.38%);
                    border-radius: 50px;
                    display: flex;
                    align-items: center; 
                    appearance: none; // removes default styles
                    

                    &::-webkit-slider-thumb {
                        width: 25px;
                        height: 25px; 
                        background-color: white;
                        border-radius: 50%;
                        appearance: none; // Remove default appearance for custom styling
                        }
                        
                }
            }
        }

    }
}