@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// colors
$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;
$button-blue : #408CFF;

// ------------oO00O%-o0O-STYLES-------Oo0Oo%o--o0O

.light-component {
    width: 225px;
    height: 292px;
    // background-color: #292929; // default color for now
    border-radius: 30px;
    margin-right: 35px; // space between for now, can definitely change
    margin-bottom: 25px;
    border: none;
    background-position: 45% 0; /* intial gradient is shifted to the right */
    transform: translateX(0); 
    padding: 0px;

    &:hover {
        background-position: 0 0; /* on hover shift the gradient to the left */
        transform: translateX(10px); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
      }

    &__top {
        width: 100%;
        height: 192px;
        // background-color:#292929; // default color for now
        border: none;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__icon {
            width: 90px;
            height: 90px;
            margin-top: 25px;
        }

        & p {
            font-size: 20px;
            color: white;
        }
    }

    &__bottom {
      width: 100%;
        height: 100px;
        // background-color:#333333; // default color for now
        border: none;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__light-button {
            width: 90px;
            height: 50px;
            border-radius: 50px;
            background-image: linear-gradient(90deg, $dark-brown 6.43%, $darker-brown 74.38%);
            display: flex;
            align-items: center;
            justify-content: right;

            &__circle {
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 5px;
                border: none;
                
            }
        }

        &.lights-on {
            /* Styles when lights are on */
            .current-room-header__top__light-button {
              justify-content: left;
              transition: justify-content 0.3s;
            }
            .current-room-header__top__light-button__circle {
              margin-left: 5px;
            }
          }
          
        &.lights-off {
            /* Styles when lights are off */
            .current-room-header__top__light-button {
              justify-content: right;
              transition: justify-content 0.3s;
            }
            .current-room-header__top__light-button__circle {
              margin-right: 5px;
            }
          }
    }
}