// light variables
$light-0: #ffffff; // default values
$light-1: #ffffff;
$light-2: #ffffff;
$light-3: #ffffff;
$light-4: #ffffff;
$light-5: #ffffff;
$light-6: #ffffff;
$light-7: #ffffff;
$light-8: #ffffff;
$light-9: #ffffff;