@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// colors
$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;

.rooms-header {
    color: white;
    // background-color: grey; // to visualize position
    width: 900px; // might want to change this to a %, to make more responsive in future
    height: 100px;
    margin: 0px auto 0px auto ;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: left;


    &__title {
        font-size: 96px;
    }
}

.rooms-title {
    color: white;
    width: 900px;
    // background-color: grey; // to visualize position
    margin: 50px auto 0px auto;
    background-color: transparent;


    &__title {
        font-size: 36px;

    }

}

.room-section {
    width: 950px;
    height: calc(100vh - 300px);
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: right;
    flex-direction: column; /* Stack the child components vertically */
    overflow-y: auto; /* Enable vertical scrolling for overflow content */
    background-color: transparent;
}

// scroll bar---------***--*-------

.room-section::-webkit-scrollbar {
    width: 25px;
    border-radius: 30px;
}

.room-section::-webkit-scrollbar-thumb {
    height: 45px;
    background-color: white;
    border-radius: 30px;
}

.room-section::-webkit-scrollbar-track {
    background: rgba(255,255,255, 0.25);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
  }