@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// colors
$darker-brown : #8E5B1F; 
$dark-brown : #986B38;
$medium-brown : #C78130;
$light-brown : #F8B363;
$button-blue : #408CFF;

// ------------oO00O%-o0O-STYLES-------Oo0Oo%o--o0O

.scene-component {
    width: 225px;
    height: 250px;
    background-color: #292929; // default color for now
    border-radius: 30px;
    margin-right: 35px; // space between for now, can definitely change
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    background-position: 45% 0; /* Initially, the gradient is shifted to the right */
    transform: translateX(0); /* Initial scale: no scaling */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */


    &:hover {
        background-position: 0 0; /* On hover, shift the gradient to the left */
        transform: translateX(10px); /* Increase the scale slightly to make it pop out */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase the shadow for the pop-out effect */
      }

    &__button{
        width: 225px;
        height: 250px;
        background-color: #292929; // default color for now
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        &__color {
            width: 100px;
            height: 100px;
            background-color: $button-blue;
            margin-top: 25px;
            margin-bottom: 49px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
    }

        & p {
            color: white;
            font-size: 20px;
        }  
    }
    
}
